%% https://www.rabbitmq.com/configure.html
[
  {
    rabbit, [
      %% https://www.rabbitmq.com/configure.html#config-file
      { loopback_users, [ ] },
      %% https://www.rabbitmq.com/ssl.html
      { ssl_listeners, [ ] },
      %% https://www.rabbitmq.com/configure.html#config-items
      { tcp_listeners, [ 5672 ] },
      { vm_memory_high_watermark, 0.4 },
      { vm_memory_high_watermark_paging_ratio, 0.75 },
      { disk_free_limit, {mem_relative, 1.5} }
    ]
  },
%% https://www.rabbitmq.com/management.html
  {
    rabbitmq_management, [
      %% https://www.rabbitmq.com/management.html#load-definitions
      { load_definitions, "/etc/rabbitmq/definitions.json" },
      %% https://www.rabbitmq.com/management.html#path-prefix
      { path_prefix, "/admin" },
      %% https://www.rabbitmq.com/management.html#web-dispatch-config
      { listener, [
        { port, 15672 },
        { ssl, true },
        { ssl_opts, [
          { cacertfile, "/certs/demo.bortes.me/ca.pem" },
          { certfile,   "/certs/demo.bortes.me/cert.pem" },
          { keyfile,    "/certs/demo.bortes.me/key.pem" }
        ]}
      ] }
    ]
  },
%% https://www.rabbitmq.com/web-stomp.html
  {
    rabbitmq_web_stomp, [
      { ssl_config, [
        { port, 15676 },
        { cacertfile, "/certs/demo.bortes.me/ca.pem" },
        { certfile,   "/certs/demo.bortes.me/cert.pem" },
        { keyfile,    "/certs/demo.bortes.me/key.pem" },
        { password,   "" }
      ] }
    ]
  }
].