[Unit]
# sobre
Description=Ethereum node
# executar apos
After=network.target

[Service]
# comando que sera executado
ExecStart=/usr/local/bin/geth --rinkeby --datadir /var/opt/ethereum/ --maxpeers 4 --port 30303 --rpc --rpcaddr "0.0.0.0" --rpcport "8545" --rpccorsdomain "*" 2> /var/opt/ethereum/geth.log
# usuario e grupo para execucao
User=ethereum
Group=ethereum
# nao espera ate a execucao do comando para identificar se o servico foi iniciado com sucesso
Type=simple
# define o caminho absolute para o identificador do processo
PIDFile=/var/opt/ethereum/geth.pid
# regra para reiniciar o servico sempre que ele nao for terminado com sucesso - exit code 0
Restart=on-failure
# define um /tmp e /var/tmp especifico para o servico
PrivateTmp=true
# monta o /usr, o /boot e o /etc como somente leitura
ProtectSystem=full
# define que o servico e seus filhos nao pode ganhar novas permissoes
NoNewPrivileges=true
# define um /dev especifico para o servico
PrivateDevices=true

[Install]
# aguardar
WantedBy=multi-user.target